@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

body, html {
    height: 100%;
    margin: 0;
    font-family: 'Oswald', sans-serif;
}

* {
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
}

#map-container {
    position: relative;
}

#map {
  height: 100%;
  width: 100%;
}


#locations-list {
    position: absolute;
    top: 100px;
    left: 10px;
    width: 220px;
    overflow-y: auto;
    max-height: 720px;
    background-color: #565656;
    padding: 10px;
    border-radius: 4px;
    z-index: 1000;
    text-align: center;
    border: solid black 2px;
    color: white;
    overflow-y: scroll; /* Enable scrolling */
    scrollbar-width: none; /* Firefox: hide scrollbar */
    -ms-overflow-style: none; /* IE and Edge: hide scrollbar */
}

.locations-title {
    font-size: 24px;
    margin: 10px 0; /* More margin to separate from the list */
    padding: 5px;
    border-radius: 10px; /* Softer border to match the container */
}

.location-item {
    cursor: pointer;
    font-size: 18px;
    padding: 10px; /* More padding for better appearance */
    margin: 5px; /* Some margin to separate items */
    border-radius: 5px; /* Soft border */
    text-align: center; /* Center the text */
    border:solid black 2px;
}

.location-item:hover {
    background-color: #f0f0f0;
}

.popup-container {
    width: 200px;
    background-color: #333;
    max-width: 1500px;
}

.popup-input,
.popup-input[type="textarea"] {
    width: 100%; /* Set the width to 100% */
    padding: 10px;
    box-sizing: border-box; /* Include padding and border in element's total width and height */
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    transition: border-color 0.2s, box-shadow 0.2s;
}

.popup-input:focus {
    border-color: #007bff;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 123, 255, 0.5);
    outline: none;
}

/* Additional styles for textarea */
textarea.popup-input {
    resize: vertical; /* Allow vertical resizing of the textarea */
}


.popup-button {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.2s; /* Add a transition effect */
}

.popup-button:hover {
    background-color: #0056b3;
}

.popup-img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    display: block;
    margin: 5px auto;
}

.preview-container img {
    border-radius: 10px;
}

.fa-map-pin.active {
    color: red;
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
    background-color: #565656;
    color:white;
}

.leaflet-div-icon {
    background: transparent;
    border: none;
    text-align: center;
    font-size: 24px;
}

.popup-button-container {
    display: flex;
    padding: 5px;
    justify-content: space-between;
}

.popup-button.red {
    background-color: red;
    color: white;
    margin:5px;
}

.popup-button.green {
    background-color: green;
    color: white;
}

.hidden {
    display: none;
}

#options-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    z-index: 1001;
}

#close-options-button {
    display: block;
    margin: 10px auto 0;
    padding: 10px 20px;
    background-color: #ff0000;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#close-options-button:hover {
    background-color: #dc5959;
}


.accordion {
    cursor: pointer;
    padding: 10px;
    text-align: left;
    background-color: #333;
    color: white;
    border: none;
    outline: none;
    width: 100%;
    font-size: 16px;
    transition: 0.3s;
    border:solid black 2px;
}

.accordion:hover {
    background-color: #444;
}

.panel {
    padding: 0 18px;
    display: none;
    background-color: #333;
    overflow: hidden;
    color:white;
}

.panel.show {
    display: block;
}

.locations-item {
    cursor: pointer;
    padding: 8px;
    background-color: #333;
    margin: 4px 0;
}

.locations-item:hover {
    background-color: #3c3c3c;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 9999; /* Sit on top */
    padding-top: 60px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black with opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 50%;
    max-width: 500px;
}

/* Caption of Modal Image */
#modal-caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
}

/* Add Animation */
.modal-content {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}

@keyframes zoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

/* The Close Button */
.modal-close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.modal-close:hover,
.modal-close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}


.category-container {
    display: flex;
    align-items: center;
}

.color-indicator {
    width: 16px;
    height: 16px;
    border-radius: 50%; /* Makes the div a circle */
    margin-right: 10px;
}
